.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 100px;
  height: 100px;
  margin: 20px;
  background: coral;
  transition: ease-in-out 500ms;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.color-picker {
  height: 100vh;
  width: 100%;
}

.color-picker > .screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.color-picker > .screen.-hue {
  background: springgreen;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.screen.-hue {
  height: 100vh;
}

.color-picker > .screen.-hue.-dragging {
  cursor: pointer;
}

.color-picker > .screen.-white {
  background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0));
  pointer-events: none;
}

.color-picker > .screen.-black {
  background: linear-gradient(0deg, #000, transparent);
  pointer-events: none;
}

.color-picker-pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 2px 4px black;
}

.color-picker-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
}

.color-picker-panel > .color {
  height: 32px;
  width: 32px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.color-picker-panel > .hexcode {
  margin-right: 16px;
  color: #fff;
}

.hue-range-picker {
  position: relative;
  margin-right: 16px;
  height: 12px;
  width: 160px;
  border: 1px solid #fff;
  background: linear-gradient(
    90deg,
    red 0,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    red
  );
  border-radius: 32px;
  cursor: pointer;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hue-range-picker > .handle {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  height: 14px;
  width: 14px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 0 1px inset;
  pointer-events: none;
}

.hue-range-picker.-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
